body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(31,53,134,255) 0%, #5f2a83 20%, rgba(214,88,106,255) 40%, rgba(214,88,106,255) 60%, rgba(72,35,139,255) 80%, rgba(31,53,134,255) 100%);
    background-repeat: repeat;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
#navBar{
    z-index: 950;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #272f48;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 50px;
}
.nav_Link{
    width: 25%;
}
.nav_Item{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:.5vh; */
    height: 50px;
    /* padding-top:25px; */
    text-align: center;
    overflow: hidden;
    font-size: 1.5vw;
}
.nav_Item:hover{
    transition: 300ms;
    opacity: 50%;
}
.nav_Img{
    width: 3vw;
}
.nav_Img:hover{
    transition: 300ms;
    opacity: 50%;
}
.about, .projects_heading, .text, .end, .aboutMe_heading, .email,.nav_Item{
    font-family: 'Maven Pro', sans-serif;
    color: #eaebef;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-background{
    height: 100vh;   
    display:flex;
    justify-content: center;
}
.mainImg{
    border-radius: 50%;
    width: 25vw;
}
.right_main_text{
    padding-left: 5vmin;
}
.intro2, .intro3{
    text-align: center;
}
.intro2{
    font-size: 3vw;
}
.intro3{
    font-size: 2vw;
    /* padding: 20px; */
}
.intro{
    /* height: 100%; */
    text-align: center;
    margin-top:0px;
    font-size: 4vw;
    /* margin-bottom: 20px; */
}
.college_pics{
    height: 12vw;
    padding-right: 2vw;
    padding-left: 1vw;
}
.college_pics:hover{
    opacity: 50%;
    transition: 300ms;
    cursor: pointer;
}
.projects_heading{
    padding: 2vh;    
    font-size: 5vh;
    background-color: #0c0412;
    border-style: solid;
    border-color: #fefdff;
    border-width: .3vw;
    border-radius: 20px;
    margin: 15px;
    margin-bottom: 5px;
    text-align: center;
}
.aboutMe_heading{
    padding: 2vh;    
    font-size: 3vw;
    background-color: #061023;
    border-style: solid;
    border-color: #fefdff;
    border-width: .3vw;
    border-radius: 20px;
    margin: 15px;
    margin-bottom: 5px;
    text-align: center;
}
.container{
    /* float: left; */
    border-style: solid;
    border-color: #fefdff;
    border-width: .3vw;
    border-radius: 13px;
    margin: 15px;
    background-color: #0c0412;
    padding: 16px;
    display:flex;
}
.aboutMe_container{
    border-style: solid;
    border-color: #fefdff;
    border-width: .3vw;
    border-radius: 13px;
    margin: 15px;
    background-color: #061023;
    padding: 16px;
    display: flex;
    align-items: center;
}
.aboutMe{
    text-align: center;
}
.aboutMe_info{
    font-size: 1.6vw;
    line-height: 1.2;
}
.aboutImg{
    width:  20vw;
    margin: 10px;
    border-radius: 50%;
}
.projectImg{
    width: 32vh;
    /* float: left; */
    margin: 10px;
}
.puzzleImg{
    height: 30vh;
    /* float: left; */
    margin: 10px;
}
.text{
    /* float: none; */
    padding: 10px;
}
.project_title{
    font-size: 4vh;
    text-align: center;
    text-decoration: none;
    
}
.project_sum{
    font-size: 2.5vh;
    line-height: 1.2;
}
.puzzleImg:hover{
    transition: 300ms;
	opacity:0.5;
}
.projectImg:hover
{
    transition:300ms;
	opacity:0.5;
}
.end{
    text-align: center;
}
.logos{
    width:8vh;
    margin-left: 2vh;
    margin-right: 2vh;
}
.email{
    font-size: 2vh;
}
.logo_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 800px){
    .container, .about, .aboutMe_container{
        flex-direction: column;
        align-items: center;
    }
    #navBar{
        display: none;
    }
    .top-background{
        align-items: center;
    }
    .about{
        justify-content: start;
    }
    .mainImg{
        width: 65vw;
        text-align: center;
        padding-top: 20px;
    }
    .aboutMe_heading{
        font-size: 4vw;
    }
    .project_title{
        text-align: center;
    }
    .aboutMe_info{
        font-size: 3vw;
    }
    .college_pics{
        height: 20vw;
        padding-left: 5vw;
    }
    .aboutImg{
        width: 40vw;
    }
    .intro{
        font-size: 40px;
    }
    .intro2{
        font-size: 30px;
    }
    .intro3{
        font-size: 20px;
    }
    .puzzleImg{
        height:auto;
        width: 100%;
    }
    .end{
        /* padding-bottom: 100px; */
        height: 10vh;
    }
    /* .intro2{
        margin: 30px
    } */
}