body{
    background-color:#bad6e8;
}
.about, .projects_heading{
    font-family: 'Maven Pro', sans-serif;
    color: #e8e5e3;
    padding: 10px; 
}
.page{
    background-color: grey;
    margin: 20px;
}

.mainImg{
    width: 250px;
    float: left;
    padding-right:30px;
    margin-top: 20px;
}
@media(max-width: 620px){
    .mainImg{
        width: 100%;
        text-align: center;
    }
}
.main{
    margin: 20px 50px 20px 50px;
    clear: both;
}
h1, .bio{
    text-align: center;
}
.projects_heading{
    padding-top: 50px;
}