.about, .projects_heading{
    font-family: 'Maven Pro', sans-serif;
    color: #e8e5e3;
     
}
.image-box {
    opacity: 0.9;
    background-color: rgb(122, 44, 44);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.top-background{
    height:100%;
    background-image: url("https://img.freepik.com/free-photo/dark-blue-glow-dust-particle-abstract-background_35672-1414.jpg?size=626&ext=jpg");
}
.page{
    background-color: grey;
}

.mainImg{
    width: 250px;
    float: none;
    padding-right:30px;
    padding-top: 20px;
}
@media(max-width: 620px){
    .mainImg{
        width: 100%;
        text-align: center;
    }
}
.main{
    clear: both;
}
h1, .bio{
    text-align: center;
}
.projects_heading{
    padding-top: 50px;
}